<!DOCTYPE html>
<html>

<head>
	<title>{{selected.title}} (Eureka)</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body id="category">
	{{> header }}
	<main>

	</main>
	{{> footer }} {{> reload }}
</body>