@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	font-family: 'Roboto', sans-serif;
}

#index {
	display: flex;
	ul {
		list-style: none;
		padding: 0;
	}
	section {
		
		flex: 1;
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				height: 200px;
				width: 200px;
				border: 1px solid black;
				margin: 1rem;
			}

		}
	}
}